.title {
    margin-block: 5rem;
    width: fit-content;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

/* Style the line under the title */
.title::after {
    content: "";
    width: 50%;
    height: 3px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}