header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0;
    background-color: var(--primary_color);
    z-index: 50;
}
.profile {
    overflow: hidden;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.logo {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

@media screen and (max-width: 500px) {
    .links {
        gap: .5rem;
    }

    .links .link {
        font-size: .8rem;
    }

    .logo {
        font-size: 1rem;
    }
}


.links li:hover .link {
    color: var(--green_color);
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}
